
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: white;
    padding: 40px;
    border: 50px solid rgb(110, 165, 201);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.button-primary {
    background-color: #5982cd;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
}

.button-primary:hover {
    background-color: #4a6b99;
}

.button-secondary {
    background-color: #f0f0f0;
    color: #6c757d;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.label-field {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
    border-bottom: 2px solid black;
}
