.display-4 {
    font-weight: bold;
}

.lead {
    font-size: 1.2rem;
    color: #6c757d;
}

.table th {
    color: #495057;
    text-transform: uppercase;
    font-weight: 600;
}

.table {
    border-top: 1px solid #dee2e6;
}
